@charset "UTF-8";
/* CSS Document */


#outerwrapper {
	bottom: 50%;
	right: 50%;
	position: absolute;
	width: 1330px;
	height: 810px;
	background-repeat: repeat;
	overflow: visible;
}

#content {
	position:absolute;
	left:284px;
	top:20px;
	width:912px;
	height:670px;
	z-index:12;
	background-color: #CC3300;
	overflow-y:scroll;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 130px;
	display: compact;
}

#wrapper {
	position: relative;
	left: 50%;
	text-align: left;
	z-index:1;
	height: 810px;
	bottom: -50%;
}

#menuwrapper {
	position:fixed;
	left:0px;
	top:85%;
	bottom:0px;
	width:auto;
	height:auto;
	z-index:1;
	background-color: #000;
	right: 0px;
	overflow: auto;
}

#menuwrapper ul {

	display: inline-block;
}

#menuwrapper ul li{
	height: 30px;
	width: 175px;
	padding: 15px;
	display: inline;
}

#menu_footer {
	clear:both;
}

.year_item {
	position: inherit;
	top: 25px;
	right: 30px;
}

.shadow {
    -moz-box-shadow: 10px 10px 10px #000;
    -webkit-box-shadow: 10px 10px 10px #000;
    box-shadow: 10px 10px 10px #000;
}
