$color__background-body:   #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr:     #ECECEE;
$color__background-input:  #ebebed;
$color__background-pre:    #eee;

$color__bg-preloader-cover: #ffffff;

$color__white: #ffffff;
$color__dark: #000000;

$color__gray: #ebebeb;
$color__lighter-gray: #f8f8f8;
$color__lighter-gray-2: #f7f7f7;

$color__text-screen: #21759b;
$color__text-input:  #666;
$color__footer:#a4a6b8;

$color__border-button: #E0E0E2;
$color__border-input:  #ebebed;
$color__border-abbr:   #666;
$color__border-table:  $color__background-hr;
$color__border-pre:    darken( $color__background-pre, 10% );
$color__border-services:#e0e0e3;

$color__not-valid: #FF596D;
$color__valid:     #2FD3AE;

$color_background-project-1:#ffe701;
$color_background-project-2:#34d5c6;
$color_background-project-3:#fe699d;
$color_background-project-4:#a9ec75;
$color_background-project-5:#c264d8;

$color__facebook: #5a72ca;
$color__twitter: #00aced;
$color__youtube: #f44336;
$color__instagram:#b0a26b;
$color__printerest:#fe699d;
$color__linked: #3980f4;