<div class="project-media">
	%%FEATUREDIMAGE size="vichax-author-project"%%
</div>
<div class="project-content sf-home-project-content">
	<div class="sf-home-project-link">
	%%PERMALINK%%
	</div>
	%%TITLE%%
	%%CONTENT number_of_words="15"%%
	<div class="project-meta entry-meta">
		%%DATE format="F Y"%%
		%%AUTHOR%%
	</div>
</div>
