<div class="project-media">
	%%FEATUREDIMAGE size="nhafala-project-thumbnail" crop="true" crop_width="640" crop_height="480"%%
	<div class="hover-content">
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	%%TITLE class="project-title"%%
	%%CONTENT class="project-entry" number_of_words="15"%%
	<div class="project-meta">
		%%DATE format="F Y"%%
	</div>
</div>
